<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="typing-demo">
          welcome to this game to over come and surpass destiny .
        </div>
    </div>
    <div>
        <a href="/easy"><button>easy</button></a>
        <a href="/hard"><button>hard</button></a> 
    </div>
</body>
</html>